html {
    height: 100%;
}

body {
    padding-top: 70px;
    height: 100%;
    background: url('/anytravel_site/static/img/main_page_bg.jpg');
    background-size: 100%;
}

#site-navbar {
    background-color: #3d3d3d;
}

#search-content,
#signin-block {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #3d3d3d;

}

.site-label {
    color: #FFFFFF;
}

.link {
    text-decoration: underline;
    color: #428bca;
}

.link:hover {
    color: #3276b1;
}

#form-reg {
    background-color: #3d3d3d;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px auto;
    max-width: 550px;
}

.has-error .form-control {
    -webkit-box-shadow: inset 0 100px 100px rgba(255, 0, 0, 0.075) !important;
            box-shadow: inset 0 100px 100px rgba(255, 0, 0, 0.075) !important;
}
