{% extends 'base.html' %}
{% block index %}

    <!-- Форма поиска -->
    <div class="container col-md-12" id="search-content">

        <form action="/search" mathod="get" >
            <div class="form-group col-md-12">
                <label for="search-place" class="site-label">Укажите город или отель</label>
                <input type="text"   class="form-control" placeholder="Укажите город или отель" name="search-place" id="search-place" />
            </div>
            <div class="container">
                <div class=" form-group col-md-4" style="padding-left: 0px;">
                    <label for="search-date-from" class="site-label">Дата отправления</label>
                    <input type="text" class="date-input form-control" placeholder="Дата отправления" name="search-date-from" id="search-date-from"/>
                </div>
                <div class="col-md-4" style="padding-left: 0px;">
                    <label for="search-date-to" class="site-label">Дата возврата</label>
                    <input type="text" class="date-input form-control" placeholder="Дата возврата"    name="search-date-to" id="search-date-to"  />
                </div>
                <div class="col-md-4" style="padding-left: 0px;padding-right: 0px;">
                    <label for="search-human-count" class="site-label">Взрослых и детей</label>
                    <select id="search-human-count" class="form-control" name="search-human-count">
                        <option value="1">1</value>
                        <option value="1">2</value>
                        <option value="1">3</value>
                        <option value="1">4</value>
                        <option value="1">5+</value>
                    </select>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Найти" />
            </div>

        </form>
    </div>
    <!-- Конец формы поиска -->

    <!-- Скрипт для отображения дат отправления и возврата -->
    <script>
        $('.date-input').pickmeup({
            position: 'bottom',
            hide_on_select: true
        });
    </script>
    <!-- Конец скрипта для отображения дат -->

{% endblock %}